<!DOCTYPE html>
<html>
<head>
  <title>DatSplit</title>
  <link rel="stylesheet" type="text/css" href="assets/styles.css" />
  <link rel="stylesheet" type="text/css" href="assets/login.css" />
  <link rel="stylesheet" type="text/css" href="assets/feature.css" />
  <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
  <script src="assets/registered.js"></script>
  <script src="assets/login.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- HEADER -->
  <div class="header">
    <h3 class="header header-link">TIM3R</h3>
    <a class="download-header header-link" href="#">DOWNLOAD</a>
    <div id='login-area'>
      <div id='login-btn' class='login' onclick='changeOpacity()' onmouseover='showElement("login-tooltip")' onmouseout='hideElement("login-tooltip")'>
        LOGIN/SIGNUP
      </div>
      <div id='login-tooltip' class='tooltip'>
        CLICK, THEN ENTER YOUR INFORMATION TO SIGN UP. AN EMAIL WILL BE SENT TO YOU WITH YOUR LOGIN INFORMATION.
      </div>
      <div id='hidden-login'>
        <input type='text' id='login-email' class='login-input' placeholder='email' onclick='logStuff()'/>
        <input type='text' id='login-username' class='login-input' placeholder='password' onclick='logStuff()'/>
        <input type='submit' id='login-submit' class='login-input' value='submit info!' onclick='logStuff()'> 
      </div>
    </div>
  </div>
  <!-- END HEADER -->

<%= yield %>

</body>
</html>
