<html>
<head>
	<title>HARO</title>
	<link rel="stylesheet" type="text/css" href="styles.css" />
	<link rel="stylesheet" type="text/css" href="login.css" />
	<link rel="stylesheet" type="text/css" href="feature.css" />
	<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
	<script src="registered.js"></script>
	<script src="login.js"></script>
</head>
<body>
	<!-- HEADER -->
	<div class="header">
		<h3 class="header header-link">TIM3R</h3>
		<a class="download-header header-link" href="#">DOWNLOAD</a>
		<div id='login-area'>
			<div id='login-btn' class='login header-link' onclick='changeOpacity()' onmouseover='showElement("login-tooltip")' onmouseout='hideElement("login-tooltip")'>
				LOGIN/SIGNUP
			</div>
			<div id='login-tooltip' class='tooltip'>
				CLICK, THEN ENTER YOUR INFORMATION TO SIGN UP. AN EMAIL WILL BE SENT TO YOU WITH YOUR LOGIN INFORMATION.
			</div>
			<div id='hidden-login'>
				<input type='text' id='login-email' class='login-input' placeholder='email' onclick='logStuff()'/>
				<input type='text' id='login-username' class='login-input' placeholder='password' onclick='logStuff()'/>
				<input type='submit' id='login-submit' class='login-input' value='submit info!' onclick='logStuff()'>	
			</div>
		</div>
	</div>
	<div class="feature" id="timer-info">
		<h3>MORE RELAVENT DATA</h3>
		<div id="feature-text">
			<p>View much more relevant data with <i>dat split</i>, for example:</p>
			<ul>
				<li class='feature-purple'>During any part of the run, view the amount of time that can be saved based on your historically best split times</li>
				<li class='feature-red'>Look at split times for any given split over a given number of runs.</li>
				<li class='feature-blue'>Find out which split makes you reset most.</li>
				<li class='feature-green'>Much, much more!</li>
			</ul>
		</div>
		<img />
	</div>
	<!-- LOGIN CONTENT 
	<h1 id="signup" class="login">S1GNUP</h1>
	<p id="already" onclick="registered()" class="login">ALREADY TIMING?</p>
	<input class="login" type="text" name="username" placeholder="username" />
	<input class="login" type="password" name="password" placeholder="password" />
	<input id="login" class="login" type="submit" value="start"-->

	<!-- DOWNLOAD CLIENT -->
	<!--<div class="download">
		<h2 class="download">DOWNLOAD TIM3R</h2>
		<p>start running now</p>
		<input id="download_client" class="download" type="submit" value="download">
	</div>-->
</body>
</html>