<html>
<head>
	<title>HARO</title>
	<link rel="stylesheet" type="text/css" href="styles.css" />
	<link rel="stylesheet" type="text/css" href="login.css" />
	<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
	<script src="registered.js"></script>
	<script src="login.js"></script>
</head>
<body>
	<!-- HEADER -->
	<div class="header">
		<h3 class="header">TIM3R</h3>
		<div id='login-tooltip' class='tooltip'>
			click, then enter your information to sign up. an email will be sent to you with your login information.
		</div>
		<div id='login-btn' class='login' onclick='changeOpacity()' onmouseover='showElement("login-tooltip")' onmouseout='hideElement("login-tooltip")'>
			LOGIN/SIGNUP
		</div>
		<div id='hidden-login'>
			<input type='text' id='login-email' class='login-input' placeholder='email' onclick='logStuff()'/>
			<input type='text' id='login-username' class='login-input' placeholder='password' onclick='logStuff()'/>
			<input type='submit' id='login-submit' class='login-input' value='submit info!' onclick='logStuff()'>	
		</div>
	</div>

	<!-- LOGIN CONTENT 
	<h1 id="signup" class="login">S1GNUP</h1>
	<p id="already" onclick="registered()" class="login">ALREADY TIMING?</p>
	<input class="login" type="text" name="username" placeholder="username" />
	<input class="login" type="password" name="password" placeholder="password" />
	<input id="login" class="login" type="submit" value="start"-->

	<!-- DOWNLOAD CLIENT -->
	<div class="download">
		<h2 class="download">DOWNLOAD TIM3R</h2>
		<p>start running now</p>
		<input id="download_client" class="download" type="submit" value="download">
	</div>
</body>
</html>