/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

input
{
	color: #33b5e5;
	background: white;
	font-size: 25px;
	height: 40px;
	border: 0;
	box-shadow: 5px 5px #ddd;

}

input.login
{
	margin-left: 11%;
	margin-bottom: 3%;
	width: 175px;
}

input[type=submit]
{
	background: #DC5C4B;
	color: white;
	margin-bottom: 3%;

	cursor: pointer;

	font-family: 'Lato', sans-serif;
}

input[type=submit]:hover
{
	opacity: .9;
}

input[type=submit]:active
{
	background: white;
	color: #DC5C4B;
}

input[type=submit].download
{
	background: #DC5C4B;
	margin-left: 5%;
	width: 90%;
}

input[type=submit].download:active
{
	background: white;
	color: #DC5C4B;
}

a{
	text-decoration:none;
}

a.download-header
{
	float:left;
	margin-left:40px;
	padding-top:9px;
	font-size: 18px;
}

.header-link{
	font-size:25px;
	color: #444;
	text-shadow: 1px 1px #aaa;
	display:inline-block;
}
