// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray-4: #444;

.btn {
	display: inline-block;
	padding: 8px;
	border: 1px solid $gray-4;
	border-right: none;
	&:last-of-type {
		border-right: 1px solid $gray-4;
	}
	box-sizing: border-box;
}

.btn-wrapper-5 {
	a {
		width: 20%;
		float: left;
		&:last-of-type {
			float: none;
		}
	}
}