// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'font-awesome';

$gray-4: #444;
$gray-d: #cdcdcd;
$primary: #4BDCA6;

.btn, .hotkey-input {
  color: $primary;
  display: inline-block;
  padding: 8px;
  border: 1px solid $gray-4;
  border-right: none;
  &:last-of-type {
    border-right: 1px solid $gray-4;
  }
  box-sizing: border-box;
}

.hotkey-input {
  border-top-width: 0;
  box-shadow: none;
  color: $gray-4;
}

.btn-wrapper-5 {
  .btn, .hotkey-input {
    width: 20%;
    float: left;
    &:last-of-type {
      float: none;
    }
  }
}

.disabled input {
  background: $gray-d;
}