#login-area{
	float:right;
	width:200px;
	margin-left:5px;
	margin-top:9px;
	margin-right:5%;
	margin-bottom:1px;
}

#login-btn{
	width:160px;
	margin-left:40px;
	height:30px;
	cursor: pointer;
}

.login{
	background:transparent;
	display:inline-block;
	font-size:18px;
}

#hidden-login{
	width:200px;
	padding: 10px;
	opacity:0;

	background: #f4f4f4;

	border-top-style: none;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #ddd;
}

.login-input{
	width:180px;
	margin-left:10px;
	margin-top:5px;
	margin-bottom:5px;
	height:25px;
	font-size:16px;
	border-width:1px;
	padding-left:2px;

}

#login-area{
	width:210px;
}

#login-btn:hover{
	opacity:0.9;
}

#login-submit{
	border-width:2px;
	font-size:18px;
	padding-top:0px;
}

#login-tooltip{
	width:192px;
	padding:8px;

	background: #f4f4f4;
	border-top-style: none;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #ddd;

	position:absolute;
	top:42px;
}

.tooltip{
	opacity:0;
	pointer-events:none;
}
