body 
{ 
	background: #eee; 
	font-family: 'Lato', sans-serif;
	margin: 0 auto;
}

hr
{
	width: 90%;
	height: 1px;
	color: #ddd;
	background-color: #ddd;
	border: 0;

}

div.header
{
	height: 40px;
	width: 100%;
	background: #4BDCA6;
	box-shadow: 1px 1px #ddd;
	min-width:800px;
}

h3.header
{
	padding-top:5px;
	padding-left: 3%;
	height:40px;
	float:left;	
	margin-top:0px;
}

h1.login
{
	color: #444;
	margin-left: 10%;
	margin-top: 5%;
	margin-bottom: 0px;
	width: 50px;
	text-shadow: 10px 10px #ddd;
	font-size: 120px;
}

div.download
{
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;
	border-radius: 5px;

	background: #f4f4f4;

	width: 30%;
	margin-left: 65%;
	margin-top: 20%;
	padding-left: 1%;


}

p.login
{
	margin-top: 0px;
	margin-left:11%;
	width:auto;
	color: #aaa;
}

p.login:hover
{
	color: #444;
}

input
{
	color: #33b5e5;
	background: white;
	font-size: 25px;
	height: 40px;
	border: 0;
	box-shadow: 5px 5px #ddd;

}

input.login
{
	margin-left: 11%;
	margin-bottom: 3%;
	width: 175px;
}

input[type=submit]
{
	background: #DC5C4B;
	color: white;
	margin-bottom: 3%;

	font-family: 'Lato', sans-serif;
}

input[type=submit]:active
{
	background: white;
	color: #DC5C4B;
}

input[type=submit].download
{
	background: #DC5C4B;
	margin-left: 5%;
	width: 90%;
}

input[type=submit].download:active
{
	background: white;
	color: #DC5C4B;
}

a{
	text-decoration:none;
}

a.download-header
{
	float:left;
	margin-left:40px;
	padding-top:5px;
}

.header-link{
	font-size:25px;
	color: #444;
	text-shadow: 1px 1px #aaa;
	display:inline-block;
}
