<div class="mll mtl span8" id="timer" data-target="timer-text">
  <div class="btn-wrapper btn-wrapper-5 clearfix text-center">
    <a href="javascript:void(0)" class="btn split-btn" data-reset-btn><i class="fa fa-refresh"></i></a>
    <a href="javascript:void(0)" class="btn split-btn" data-back-btn><i class="fa fa-backward"></i></a>
    <a href="javascript:void(0)" class="btn split-btn" data-pause-btn><i class="fa fa-pause"></i></a>
    <a href="javascript:void(0)" class="btn split-btn" data-play-btn><i class="fa fa-play"></i></a>
    <a href="javascript:void(0)" class="btn split-btn" data-next-btn><i class="fa fa-forward"></i></a>
  </div>
  <div class="btn-wrapper btn-wrapper-5 hotkey-wrapper clearfix mbm" data-hotkey-wrapper>
    <input type="text" class="hotkey-input text-center" name="hotkeys[reset]" data-reset-hotkey />
    <input type="text" class="hotkey-input text-center" name="hotkeys[back]" data-prev-hotkey />
    <input type="text" class="hotkey-input text-center" name="hotkeys[pause]" data-pause-hotkey />
    <input type="text" class="hotkey-input text-center" name="hotkeys[play]" data-play-hotkey />
    <input type="text" class="hotkey-input text-center" name="hotkeys[next]" data-next-hotkey />
  </div>
  <%= react_component('Timer', id: 1) %>
</div>