<div class='mll mtl span8' id="timer" data-target='timer-text'>
  <div class='split span8 split-title'>
    <div class='mam'>
      <img class='span1 split-logo' src='#'>
      <div class='span4 text text-left mlm'>SM64 16 Star ~ Sig</div>
      <div class='span2 text text-right'>18:43</div>
    </div>
  </div>
  <ul class='no-style span8 pan man' data-timer>
  </ul>
  <div class='split span8 split-footer'>
    <div class='mam'>
      <img class='span1 split-logo' src='#'>
      <div class='span6 text text-large text-right mlm timer-text'
           data-status='off'>
        0:00:00.00
      </div>
    </div>
  </div>
</div>

<div class='mll mtl span8' id="timer" data-target='timer-text'>
  <div class='split span8 split-title'>
    <div class='mam'>
      <img class='span1 split-logo' src='#'>
      <div class='span4 text text-left mlm'>SM64 16 Star ~ Sig</div>
      <div class='span2 text text-right'>18:43</div>
    </div>
  </div>
  <ul class='no-style span8 pan man'>
    <li class='split span8'>
      <div class='mam'>
        <img class='span1 split-logo' src='#'>
        <div class='span4 text text-left mlm'>BoB ~ 1</div>
        <div class='span2 text text-right' 
             data-ms='97000' data-split='1'>1:37</div>
      </div>
    </li>
    <li class='split span8'>
      <div class='mam'>
        <img class='span1 split-logo' src='#'>
        <div class='span4 text text-left mlm'>WF ~ 5</div>
        <div class='span2 text text-right'
             data-ms='266000' data-split='2'>4:26</div>
      </div>
    </li>
    <li class='split span8'>
      <div class='mam'>
        <img class='span1 split-logo' src='#'>
        <div class='span4 text text-left mlm'>CCM ~ 8</div>
        <div class='span2 text text-right'
             data-ms='395000' data-split='3'>6:35</div>
      </div>
    </li>
  </ul>
  <div class='split span8 split-footer'>
    <div class='mam'>
      <img class='span1 split-logo' src='#'>
      <div class='span6 text text-large text-right mlm timer-text'
           data-status='off'>
        0:00:00.00
      </div>
    </div>
  </div>
</div>