.feature{
	border: 2px solid #CB4B3A;
	background: #f4f4f4;
	border-radius: 20px;
	width:100px;
	height:280px;
	min-width:400px;
	margin-right: 20px;
	margin-top: -240px;
	float:right;

	box-shadow: 10px 10px #ddd;
}

.feature h3{
	text-align:left;
	position:relative;
	left:15px;
}

.feature ul{
	margin-top:0px;
}

.feature p{
	margin-bottom:5px;
}

#feature-text{	
	margin-left:30px;
	margin-right:30px;
	max-width:550px;
}

.feature-purple{
	color:#646;
}

.feature-red{
	color:#644;
}

.feature-blue{
	color:#446;
}

.feature-green{
	color:#464;
}

.feature img{
	float:right;
	position:relative;
	top:-185px;
	margin-right: 50px;
}